/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

main {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline;
}

.section-title {
    margin: 0;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}



.logo-booki {
    padding: 30px;
}

.booki {
    width: 61.09px;
    height: 19px;
}

.menu {
    padding: 0px 25px;
    font-weight: 400;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.category {
    margin-left: 68px;
}

.category:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    cursor: pointer;
}

.infogroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.headline {
    margin-bottom: -20px;
}

.headline p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.location-dot {
    background-color: var(--main-bg-color);
    display: flex;
    width: 50px;
    height: 49px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
}

.location-dot i {
    color: black;
    display: flex;
    align-content: center;
    flex-shrink: 0;
}



.searchform {
    display: flex;
    border-collapse: collapse;
}

.searchfield {
    text-align: center;
    width: 195px;
    height: 49px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-color: var(--main-bg-color);
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
}

.searchfield::placeholder {
    color: black;
    text-align: center;
}


.searchbutton {
    color: white ;
    background-color: var(--main-color);
    width: 130px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.searchbutton:hover {
    cursor: pointer;
}

.filterbar {
    display: flex;
    gap: 15px;
}

.filterword {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.filtertype {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    
}

.filtertype:hover {
    background-color: var(--filter-bg-color);
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.infobar i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50% ;
}

.result {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.hebergements-and-populaires {
    display: flex;
    padding: 25px 0px;
    margin: 25px 0px;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires a {
    text-decoration: none;
    color: black;
}
                                                                    /* hébergements */

.hebergements {
    width: 65%;
}

.hebergements-title {
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
}

.hebergements-cards img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 10px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more {
    font-size: 18px;
    font-weight: 700;
}

                                                                    /* populaires */

 .populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}                                                                   