/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

main {
    width: 100%;
    max-width: 1440px;
    padding: 0 3rem;
    box-sizing: border-box;
}

h1 {
    font-size: 1.375rem;
    display: inline;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.logo-booki {
    padding: 1.875rem;
}

.logo-booki-header {
    width: 100%;
    height: 1.188rem;  
}

.menu {
    padding: 0 2.563rem;
    margin: 0;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-left: 4.25rem;
    margin-top: 0;
    padding-top: 0.9rem;
}

.menu li:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    cursor: pointer;
}

.infogroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.188rem;
}

.headline {
    margin-bottom: -1.25rem;
}

.headline p {
    margin-top: 0.5rem;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.location-dot {
    background-color: var(--main-bg-color);
    display: flex;
    width: 3.125rem;
    height: 3.063rem;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
}

.location-dot i {
    color: black;
    display: flex;
    flex-shrink: 0;
}


.searchfield {
    text-align: center;
    height: 3.063rem;
    font-size: 1.125rem;
    font-weight: 700;
    border-color: var(--main-bg-color);
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
}

#locsearch::placeholder {
    color: black;
    text-align: center;
}

.searchform button {
    color: white ;
    background-color: var(--main-color);
    height: 3.063rem;
    padding: 0 1rem;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
}

.searchform button:hover {
    cursor: pointer;
}

.filterbar {
    display: flex;
    gap: 0.938rem;
}

.filterword {
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.filterbar button {
    display: flex;
    height: 3.125rem;
    padding: 0.25rem 1.188rem;
    align-items: center;
    gap: 0.625rem;
    font-size: 1.063rem;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;  
}

.filterbar button:hover {
    background-color: var(--filter-bg-color);
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.infobar i {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.result {
    display: flex;
    flex-direction: row;
    margin-left: 0.625rem;
}

.hebergements-and-populaires {
    display: flex;
    padding: 1.563rem 0;
    margin: 1.563rem 0;
    align-items: flex-start;
    gap: 2.188rem;
    align-self: stretch;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1.875rem;
    box-sizing: border-box;
}

                                                                    /* Hébergements */

.hebergements {
    width: 65%;
}

.hebergements-title {
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem;
    margin-top: 2.063rem;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: row;
    padding: 0.313rem;
    width: 29%;
    flex-wrap: wrap;
}

.hebergements-cards img {
    width: 100%;
    height: 7.75rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 0.938rem;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: -0.625rem;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0.25rem;
}

.hebergements-cards .card-rating {
    margin-bottom: 0.313rem;
}

.more {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

                                                                    /* Populaires */

 .populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 2.063rem;
    padding: 0.313rem;
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 0.313rem;
}

                                                                    /* Activités */
.activities {
    width: 100%;
    padding: 1.875rem;
}

.activities-cards {
    display: flex;
    height: 27.438rem;
    width: 95%;
    gap: 1.875rem;
}

.activities-cards .card {
    width: 25%;
}

.activities-cards img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 23.75rem;
}

.activities-cards .card-title {
    margin-left: 1.1rem;
}

.activities h2 {
    margin-bottom: 1.875rem;
}

                                                                    /* Footer */
footer {
    margin: 2.188rem 3.65rem -0.4rem 3rem;
}

footer nav {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    padding-top: 0.5rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.938rem;
    list-style-type: none;
    padding-left: 1.3rem;
}

.footer-title {
    font-size: 1.125rem;
    font-weight: 700;
}
